

*{
    font-family: "Montserrat",sans-serif!important;
}
.category_menu li>p {
    padding: 12px 24px 12px 12px;
    margin-bottom: 4px;
    text-transform: uppercase;
    display: block;
    border: 1px solid #e1e1e1;
}
.box-category{
    
    width: 25em;

    margin: 1em;
}
.MuiTablePagination-actions,.MuiTablePagination-input{
    margin-bottom: 1em;
}
#demo-select-small{
    
    font: 400 13px/20px "Montserrat",sans-serif;
}

.main{
    display: flex;
    flex-direction: row;
    background-color: #f8f9fc;
}
.row1 input{
    padding-top: 12px;
}

a:visited, a:focus {
    outline: none;
    text-decoration: none;
}
p, p:visited {
    color: #000;
}
.category_menu {
    font: 400 12px/20px "Montserrat",sans-serif;
    margin-bottom: 0;
    background-color: white;
    width: 25em;
}
.category_menu li {
    position: relative;
}
.MuiAlert-standardInfo{
    align-items: center;
    align-self: center;
}
.row-h{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30vh 15vh 15vh 20vh;



}
.category_menu li .fa-caret-down, .category_menu li .fa-caret-up {
    line-height: 38px;
}
.category_menu li .fa-caret-down, .category_menu li .fa-caret-up {
    position: absolute;
    display: inline-block;
    width: 10px;
    height: 40px;
    top: 0;
    right: 10px;
    color: #000;
    font-size: 13px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    -moz-transition: .3s all ease;
    -o-transition: .3s all ease;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
}
.category_menu li ul {
    padding: 20px 20px 19px;
    border: 1px solid #e1e1e1;
    margin-bottom: 4px;
  
}
.category_menu li ul p, .category_menu li ul p:visited {
    color: #383317;
}
.row1{
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;

}
.MuiFormControl-root{
    width: 100%;

}
.row1 p{
    margin: 0;

}
.query-field{
    width: 50%;
}

li.movieCard{
    width: 21%;
    margin: 1em;
}
p#and,p#or{
    width: 15%;
}
li.movieCard img{
    width: 100%;

}
.upcoming{
    gap: 1%;
    margin: 1em;
    flex-wrap: wrap;
}


.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}




.list-unstyled {
    opacity: 1;
    transition: opacity 0.5s linear, padding .5s ease-out;
    max-height: 1000px;

  
}

.list-unstyled.closed {
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
    max-height: 0;
    transition: opacity 0.5s linear, padding .5s ease-out;
 
}